<p>{{_("Estimado {0}").format(user_name)}},</p>
<p>{{_("Hemos recibido una solicitud para descargar datos de {0} asociados a: {1}").format(host_name, user)}}.</p>
<p>{{_("Hacer click en el botón para descargar los datos.")}}</p>

<p style="margin: 30px 0px;">
    <a href="{{ link }}" rel="nofollow" class="btn btn-primary btn-sm primary-action" style="padding: 8px 20px;">{{ _("Descarga de datos") }}</a>
</p>
<p style="font-size: 85%;">
    {{_("También se puede copiar y pegar este")}} <a href="{{ link }}">{{_("Enlace de descarga")}}</a>{{_(" en el navegador.")}}
</p>